// Config -----------------------------------
@syntax-hue:          221;
@syntax-saturation:   16%;
@syntax-brightness:   20%;

// Base colors -----------------------------------
@syntax-base-accent-color:      hsl(221, 100%, 66%);
@syntax-base-background-color:  hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-base-text-color:        @light-gray;
@syntax-base-guide-color:       fade(@syntax-base-text-color, 15%);

// Colors ------------------------------------

@very-light-gray: #C0C5CE;
@light-gray:      #A7ADBA;
@gray:            #65737E;
@dark-gray:       #4F5B66;
@very-dark-gray:  #2b303b;

@cyan:            #96b5b4;
@blue:            #8fa1b3;
@purple:          #b48ead;
@green:           #a3be8c;
@red:             #bf616a;
@yellow:          #ebcb8b;
@orange:          #d08770;
