// These colors are specific to the theme. Do not use in a package!

@accent-color: #528BFF;

@very-light-gray: #c0c5ce;
@light-gray:      #65737E;
@gray:            #4F5B66;
@dark-gray:       #343D46;
@very-dark-gray:  #2b303b;

@cyan: #96b5b4;
@blue: #8fa1b3;
@purple: #b48ead;
@green: #a3be8c;
@red: #bf616a;
@dark-red: darken(@red, 10%);
@orange: #d08770;
@light-orange: #lighten(@orange, 5%);
@yellow: #ebcb8b;
